@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Exo 2", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #FF6A13;
}

/* Global button cursor */
@layer base {
  button {
    cursor: pointer;
  }
}

body {
  font-family: var(--font-sans) !important;
}